# Build directories
/build/
/cmake-build-*/
/out/
/bin/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
compile_commands.json
CMakeUserPresets.json
_deps/

# Ninja
.ninja_deps
.ninja_log
build.ninja
rules.ninja

# Object / build outputs
*.o
*.obj
*.a
*.lib
*.so
*.dll
*.exe
*.dylib
*.d
*.pdb
*.ilk
*.exp
*.gch
*.pch
